/* @import statement at the very top */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --primary-color: #606C38;
    --secondary-color: #283618;
    --accent1-color: #FEFAE0;
    --accent2-color: #DDA15E;

    --heading-font: 'PT Serif', serif;
    --paragraph-font: 'PT Serif', serif;

    --nav-background-color: #DDA15E;
    --nav-link-color: #283618;
    --nav-hover-link-color: #283618;
    --nav-hover-background-color: #FEFAE0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
    color: var(--secondary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 50px 1.5fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: var(--accent2-color);
    max-width: 960px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 180px;
	height: auto;
}

nav {
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
    border: solid 1px black;
    background-color: var(--primary-color);
    width: 150px;
}

.navigation a {
    display: block;
	color: white;
	padding: 20px;
	text-decoration: none;
    font-size: 1.25rem;
}

.navigation a:hover {
	color: rgb(252, 193, 208);
	font-weight: 500;
	text-decoration: underline;
}
 
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.hero, .hero2 {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
}

.hero article {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    width: 85%;
    background-color: rgba(24, 83, 138, 0.5);
}

.hero img, .hero2 img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 200px;
}

.hero article p {
    color: #fff;
}

.contactUsButton {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    width: 100%;
    cursor: pointer;
}

.contactUsButton a {
    text-decoration: none;
}

.contactUsButton:hover {
    background-color: rgba(190, 45, 45, 0.733); /* Transparent white color */
    border-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white color */
}

.contactUsButton a:visited {
    text-decoration: none;
    color: #fff;
}

/* History Section */

.history {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history p {
    flex: 1;
}

.history img {
    margin: 0px 0px 1px 1rem;
	width: auto;
	max-height: 150px;
    margin: 0px auto;
}

/* Adventure Images */

.adventure, .team {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}

.adventure figure, .team figure {
    max-width: 200px;
    text-align: center; /* Optional: Center the content within each figure */
}

.adventure img, .team img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}


figure {
    display: flex;
    flex-flow: column;
    max-width: 200px;
    margin: auto;
    padding: 5px;
}

figcaption {
    display: flex;
    flex-flow: column;
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 5px;
    text-align: center;
} 

/* FORM CONTACT */

.contactForm {
    margin: 0 auto;
    width: 68%;
    padding: 2rem;
}

.formArea {
    padding-top: 2rem;
}

.contactus {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    font-size: 1.2em;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

.contactus fieldset {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.contactus legend {
    padding: 0.5rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 1.3rem;
}

.contactus label {
    text-align: left;
    padding-right: 1rem;
}

.contactus input, .contactus select, .contactus textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.contactus button {
    margin: 1rem;
    background-color: rgb(91, 108, 184);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    width: 175px;
    display: block;
    margin: 0 auto;
}

.contactus button:hover {
    background-color: rgb(117, 2, 108);
}

.purposeRadial {
    display: flex;
    flex-direction: column;
}

.purposeRadial input[type="radio"] {
    margin-right: 50px; /* Offset horizontally by 10px */
    vertical-align: middle;
    margin-top: -15px; /* Offset vertically by 5px */
}
  
#q6 {
    width: 500px;
}

/* Trips Page */


.bookTrip {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.bookTrip h2 {
    padding: 10px;
    font-weight: 1000;
    font-size: xx-large;
}

.bookTrip p {
    max-width: 550px;
    margin: 0px;
    padding: 10px;
}

.bookTrip button {
    margin-top: 1rem;
    width: 500px;
    height: 50px;
    font-size: x-large;
    font-weight: 400;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.bookTrip button a {
    text-decoration: none;
}

.bookTrip button:hover {
    background-color: rgba(190, 45, 45, 0.733); /* Transparent white color */
    border-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white color */
}

.bookTrip button a:visited {
    text-decoration: none;
    color: #fff;
}


/*Scrolling triple Banner*/
#banner-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;   /* How to hide the banners not currently at focus */
    padding-top: 20px;
    padding-bottom: 30px;
    min-width: 100%;
    max-width: 1200px;
    position: relative;
}

#banner-box img {
    max-width: 100%;
    display: block;
}

#banner-box p {
    position: absolute;
    top: 40%; /* positions the banner paragraph text 30% from the top of the banner */
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 1rem;
    font-size: x-large;    
}

.bannerL {
    font-size: 50px;
    font-weight: 400;
}

#trip-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
}

.tripOptions {
    width: 300px;
    margin: 10px;
    text-align: center;
}

.tripOptions img {
    display: block;
    width: 250px;
    margin: 0 auto;
}

.tripOptions h2,
.tripOptions p {
    margin: 1px;
}

#trip-gallery button {
    width: 150px;
    height: 65px;
    font-size: x-large;
    font-weight: 400;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

#trip-gallery button a {
    text-decoration: none;
}

#trip-gallery button:hover {
    background-color: rgba(190, 45, 45, 0.733); /* Transparent white color */
    border-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white color */
}

#trip-gallery button a:visited {
    text-decoration: none;
    color: #fff;
}

.tripsChoice {
    border-bottom: 2px solid black;
}

.tableTrips {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.tableTrips h2 {
    font-size: xx-large;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }

  th:first-of-type,
  td:first-of-type {
    text-align: left;
  }

  th:not(first-of-type),
  td:not(first-of-type) {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  





/* Footer */

footer {
    padding-top: 2rem;
}

footer nav {
    text-align: center;
    padding: 10px;
    align-items: center;
}

.wfLink {
    display: inline-block;
    margin-right: 60px;
}


.socials {
    display: flex;
}

.socials a {
    margin-left: 5px;
}

footer p {
    margin: 0;
    text-align: center;
}

footer img {
    width: 75px;
    height: auto;
    padding: 10px;
}