/* @import statement at the very top */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --primary-color: #606C38;
    --secondary-color: #283618;
    --accent1-color: #FEFAE0;
    --accent2-color: #DDA15E;

    --heading-font: 'PT Serif', serif;
    --paragraph-font: 'PT Serif', serif;

    --nav-background-color: #DDA15E;
    --nav-link-color: #283618;
    --nav-hover-link-color: #283618;
    --nav-hover-background-color: #FEFAE0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
    color: var(--secondary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 50px 1.5fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: var(--accent2-color);
    max-width: 960px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 180px;
	height: auto;
}

nav {
    text-align: center;
}

.navigation {
	display: flex;
	list-style: none;
    justify-content: flex-end;
}

.navigation li {
    border: solid 1px black;
    background-color: var(--primary-color);
    width: 150px;
}

.navigation a {
    display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
    font-size: 1.25rem;
}

.navigation a:hover {
	color: white;
	font-weight: 700;
	text-decoration: underline;
}
 
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50px; /* positions the Banner Title text 25% from the top of the banner */
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
}

.hero article {
    position: absolute;
    top: 55%; /* positions the Banner Title text 25% from the top of the banner */
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    width: 85%;
    background-color: rgba(24, 83, 138, 0.5);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 200px;
}

.hero article p {
    color: #fff;
}

/* History Section */

.history {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history p {
    flex: 1;
}

.history img {
    margin: 0px 0px 1px 1rem;
	width: auto;
	max-height: 150px;
    margin: 0px auto;
}

/* Adventure Images */

.adventure {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}

.adventure figure {
    max-width: 200px;
    text-align: center; /* Optional: Center the content within each figure */
}

.adventure img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}


figure {
    display: flex;
    flex-flow: column;
    max-width: 200px;
    margin: auto;
    /* flex-wrap: 1; */
    padding: 5px;
}

figcaption {
    display: flex;
    flex-flow: column;
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 5px;
    text-align: center;
} 

footer nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer p {
    margin: 0;
    text-align: center;
}

footer img {
    width: 75px;
    height: auto;
    padding: 10px;
}